div{
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

div.padre{
    background: red;
    height: 250px;
    margin: 25px;
    width: 250px;
    position: relative;
    display: block;
}

div.hijo{
    background: green;
    height: 50px;
    width: 50px;
    top: 0px;
    position: absolute;
}

div.nivel2{
    background: rgb(184, 184, 30);
    height: 100px;
    width: 100px;
    top: 0px;
    position: absolute;
}

div.nivel3{
    background: #000;
    height: 150px;
    top: 0px;
    position: absolute;
    width: 150px;
}

div.nivel4{
    background: #2604af;
    height: 200px;
    top: 0px;
    position: absolute;
    width: 200px;
}

